


  <div class="parallax">

    <a name='firstpage'></a>
    <div id="top" class='back'>
      <h1 align="center">Ian Agpawa</h1>
      <hr>

      <ul class="list-inline" align="center">

        <li><button type="button" class="btn btn-link btn-lg button">
          <a href="https://www.linkedin.com/in/ianagpawa" target="_blank" class="letter"><i class="fa fa-linkedin-square"> LinkedIn</i></a></button></li>
        <li><button type="button" class="btn btn-link btn-lg button">
          <a href="https://github.com/TheArtilect" target="_blank" class="letter"><i class="fa fa-github"> GitHub</i></a></button></li>
        <li><button type="button" class="btn btn-link btn-lg button">
          <a href="http://www.freecodecamp.com/theartilect" target="_blank" class="letter">
            <i class="fa fa-fire"> FreeCodeCamp</i></a></button></li>
        <li><button type="button" class="btn btn-link btn-lg button">
          <a href="http://codepen.io/TheArtilect" target="_blank" class="letter">
            <i class="fa fa-codepen"> Code Pen</i></a></button></li>
      </ul>
    </div>

  </div>


  <a name="secondpage"></a>
  <div id="middle2" class='back'>


    <div id="me">
      <h2>About Me</h2>
      <p>I am new to the field of computer science, programming, and web development, with my background originally in Psychology (Clinical). I received my Bachelor degree from CUNY - Hunter College and my Master's degree from Columbia University - Teacher's
        College. I am currently employed as the Director of Operations for a small company that provides clinical services to not-for-profit community agencies serving the intellectually disabled population. While I will always have an undying love for
        psychology, my new-found passion for computer science has been enthralling. Eventually, I hope to be able to incorporate psychology with computer sceience in order to develop innovative tools and apps.</p>
    </div>

    <div class="languages">
      <h3>Languages, Frameworks and Tools</h3>
      <ul>
        <li>Python</li>
        <li>Ruby on Rails</li>
        <li>Ruby</li>
        <li>jQuery</li>
        <li>HTML5</li>
        <li>SQL</li>
        <li>CSS</li>
        <li>Git</li>
        <li>Bootstrap</li>
      </ul>
    </div>

  </div>


  <a name="thirdpage"></a>
  


  <a name="lastpage"></a>
  <div id="bottom" class='back'>
    <div class="container vert" align='middle'>
      <h3>Contact Info:</h3>
      <h4><i class="fa fa-google"></i>  agpawaji@gmail.com</h4>

      <div class="btn-group-vertical" role="group" align="center" aria-label="vertbuttons">
        <button type="button" class="btn btn-link btn-lg button vertical">
          <a href="https://www.linkedin.com/in/ianagpawa" target="_blank" class="letter"><i class="fa fa-linkedin-square"> LinkedIn</i></a></button>
        <button type="button" class="btn btn-link btn-lg button vertical">
          <a href="https://github.com/TheArtilect" target="_blank" class="letter"><i class="fa fa-github-square"> GitHub</i></a></button>
        <button type="button" class="btn btn-link btn-lg button vertical">
          <a href="http://www.freecodecamp.com/theartilect" target="_blank" class="letter"><i class="fa fa-fire">
             FreeCodeCamp</i></a></button>
        <button type="button" class="btn btn-link btn-lg button vertical">
          <a href="http://codepen.io/TheArtilect" target="_blank" class="letter">
            <i class="fa fa-codepen"> Code Pen</i></a></button>
      </div>

    </div>
  </div>


  </div>


  <!--

https://4.bp.blogspot.com/-kbizGbjBtKQ/VWgrO4ZT19I/AAAAAAABjaA/1qhd2e6jGio/s0/Seaside_Sunset_uhd.jpg


https://4.bp.blogspot.com/-jcmbnEuBXk8/VdIX9g4uc9I/AAAAAAABxhw/EGXQf0vQNa8/s0/Manhattan_Sunset_uhd.jpg

https://4.bp.blogspot.com/-SjRN95wQtqs/Uxx03ufMnyI/AAAAAAAAqGs/7n7ZCVBc8ls/s0/Reflections+over+lake_Ultra+HD.jpg



https://4.bp.blogspot.com/-M7VfUiL9VpQ/UxxMx3JSuII/AAAAAAAAqFs/0R_Ejm8Gj2c/s0/shadows+and+lights+through+the+trees_Ultra+HD.jpg


-->
