


  <div class="parallax">

    <a name='firstpage'></a>
          
    <div id="top" class='back'>
      
      
      
      <h1 align="center" id=title-card>Ian Agpawa</h1>
      <br>

      <div id="section-link" class='col-md-10 col-md-offset-1'>
        <div class="btn-group btn-group-justified" role="group">
          <div class="btn-group" role="group">
            <a href="https://github.com/TheArtilect" target="_blank" class="letter"><button type="button" class="btn btn-default"><i class="fa fa-github" aria-hidden="true"></i>
 GitHub</button></a>
          </div>
          <div class="btn-group" role="group">
            <a href="http://www.freecodecamp.com/theartilect" target="_blank" class="letter" id="free"><button type="button" class="btn btn-default"><i class="fa fa-fire">FreeCodeCamp</i></button></a>
          </div>
          <div class="btn-group" role="group">
            <a href="http://codepen.io/TheArtilect" target="_blank" class="letter"><button type="button" class="btn btn-default"><i class="fa fa-codepen" aria-hidden="true"></i> Code Pen</button></a>
          </div>
          <div class="btn-group" role="group">
              <a href="https://www.codewars.com/users/TheArtilect" target="_blank" class="letter"><button type="button" class="btn btn-default"><i class="fa fa-empire" aria-hidden="true"></i> Code Wars</button></a>
          </div>
          <div class="btn-group" role="group">
            <a href="https://www.linkedin.com/in/ianagpawa" target="_blank" class="letter"><button type="button" class="btn btn-default"><i class="fa fa-linkedin-square" aria-hidden="true"></i> LinkedIn</button></a>
          </div>
        </div>
        
        
        

 


        <ul class="nav nav-pills">
          <li class="listing pg-link" role="presentation" style="float:right">
            <a href="#lastpage" class="pg-link">
              <font>Contact</font>
            </a>
          </li>
          <li class="listing" role="presentation" style="float:right">
             <a href="#secondpage" class="pg-link">
               <font>Portfolio</font>
             </a>
          </li>
          <li class="listing" role="presentation" style="float:right">
            <a href="#thirdpage" class="pg-link">
              <font>About</font>
            </a>
          </li>

        </ul>
      </div>
      
    </div>

  


 
 <a name="secondpage"></a>
 
 <center>
  <div class="project-all container-fluid" id="project-page">


    <div id="project-top" class="col-md-8 col-md-offset-2">
      <h1 id="proj-h1">My Projects</h1>

    </div>

    <div id="project-bottom" class="col-md-8 col-md-offset-2">
      <div id="project-entries">
      </div>
    </div>

  </div>
</center>
 
  
  


  <a name="thirdpage"></a>
  <div id="middle2" class='back'>


    <div id="me">
      <h2>About Me</h2>
      <p id='me-p'></p>
      
    <br>
    <!--
    <div>
      <h4 class="about-me-h4 about-i" id='h4-int'>INTERESTS</h4>
      <p class="about-s" id="i-p-f"></p>
    </div>
    -->
    <br>
    <center><div id="youtube">

      <iframe width="600" height="400" src="https://www.youtube.com/embed/videoseries?list=PLMwQ3sxJXAphGMeLQbttD5XlyMjUO4MSv" frameborder="0" allowfullscreen></iframe>
    </div></center>
    
   </div>



  </div> <!--me div --->




  <a name="lastpage"></a>
  <div id="bottom" class='back'>
    <div class="container vert" align='middle'>
      <h3>Contact Info:</h3>
      <h4><i class="fa fa-google"></i>  agpawaji@gmail.com</h4>

      <div class="btn-group-vertical" role="group" align="center" aria-label="vertbuttons">
        <button type="button" class="btn btn-link btn-lg button vertical">
          <a href="https://twitter.com/theartilect" target="_blank" class="letter"><i class="fa fa-twitter"> Twitter</i></a>
        </button>
        <button type="button" class="btn btn-link btn-lg button vertical">
          <a href="https://www.linkedin.com/in/ianagpawa" target="_blank" class="letter"><i class="fa fa-linkedin-square"> LinkedIn</i></a></button>
        <button type="button" class="btn btn-link btn-lg button vertical">
          <a href="https://github.com/TheArtilect" target="_blank" class="letter"><i class="fa fa-github-square"> GitHub</i></a></button>
        <button type="button" class="btn btn-link btn-lg button vertical">
          <a href="http://www.freecodecamp.com/theartilect" target="_blank" class="letter"><i class="fa fa-fire">
             FreeCodeCamp</i></a></button>
        <button type="button" class="btn btn-link btn-lg button vertical">
          <a href="http://codepen.io/TheArtilect" target="_blank" class="letter">
            <i class="fa fa-codepen"> Code Pen</i></a></button>
        <button type="button" class="btn btn-link btn-lg button vertical">
          <a href="https://www.codewars.com/users/TheArtilect" target="_blank" class="letter"><i class="fa fa-empire" aria-hidden="true"></i> Code Wars</a>
        </button>
        <button type="button" class="btn btn-link btn-lg button vertical">
          <a href="https://www.codechef.com/users/theartilect35" target="_blank" class="letter">Code Chef</a>
        </button>
          <a href="https://projecteuler.net/about" target="_blank" class="letter">
            <img src="https://projecteuler.net/profile/TheArtilect.png">
          </a>
      </div>

    </div>
  </div>


  </div>

