<div class="parallax">


  <a id='firstpage'></a>

  <div id="top" class='back' onclick="showCoords(event)">


    <h1 align="center" id=title-card>Ian Agpawa</h1>
    <br>

    <div id="section-link" class='col-md-10 col-md-offset-1'>
      <div class="btn-group btn-group-justified" role="group">

        <div class="btn-group" role="group">
          <a href="https://github.com/TheArtilect" target="_blank" class="letter"><button type="button" class="btn btn-default but-lin"><i class="fa fa-github" aria-hidden="true"></i>
 GitHub</button></a>
        </div>
        <div class="btn-group" role="group">
          <a href="https://www.linkedin.com/in/ianagpawa" target="_blank" class="letter"><button type="button" class="btn btn-default but-lin"><i class="fa fa-linkedin-square" aria-hidden="true"></i> LinkedIn</button></a>
        </div>
        <div class="btn-group" role="group">
          <a href="http://www.freecodecamp.com/theartilect" target="_blank" class="letter" id="free"><button type="button" class="btn btn-default but-lin"><i class="fa fa-fire"> FreeCodeCamp</i></button></a>
        </div>
        <div class="btn-group" role="group">
          <a href="https://www.codewars.com/users/TheArtilect" target="_blank" class="letter"><button type="button" class="btn btn-default but-lin"><i class="fa fa-empire" aria-hidden="true"></i> Code Wars</button></a>
        </div>

      </div>


      <ul>
        <li class="listing" role="presentation" style="float:right">
          <a href="#contact" class="pg-link">
              Contact
            </a>
        </li>
        <li class="listing" role="presentation" style="float:right">
          <a href="#secondpage" class="pg-link">
               Portfolio
             </a>
        </li>
        <li class="listing" role="presentation" style="float:right">
          <a href="#thirdpage" class="pg-link">
              About
            </a>
        </li>

      </ul>


    </div>

  </div>

  <a id="secondpage"></a>

  <center>
    <div class="project-all container-fluid" id="project-page">


      <div id="project-top" class="col-md-8 col-md-offset-2">
        <h1 id="proj-h1">My Projects</h1>
      </div>



      <div id="project-mural" class="col-md-6 col-xs-6 col-md-offset-3 col-xs-offset-3">

        <table id="mural">

        </table>

      </div>


  </center>




  <a id="thirdpage"></a>
  <div id="middle2" class='back'>

    <div id="me">
      <h2 class="col-md-12 col-xs-12">About Me</h2>
      <p id='me-p' class="col-md-12 col-xs-12"></p>

      <br>

      <br>
      <center>
        <a id="music"></a>
        <div id="youtube">
          <iframe id="iframe"  src="https://www.youtube.com/embed/videoseries?list=PLMwQ3sxJXAphGMeLQbttD5XlyMjUO4MSv" frameborder="0" allowfullscreen></iframe>
        </div>
      </center>



    </div>

  </div>
  <!--me div --->


</div> <!-- parallax -->

<footer id="footie">
    <a id="contact"></a>
    <div class="row foot-row">
      <div class="c-div col-md-10 col-md-offset-1">

        <div id="foot-p" class="connect-div">CONNECT</div>

        <div class="connect-div">
          <i class="fa fa-google fa-f"></i> agpawaji@gmail.com
        </div>

        <div class="connect-div">
           <a href="https://twitter.com/theartilect" target="_blank" class="letter">
            <i class="fa fa-twitter fa-f"></i>
          </a>
        </div>

        <div class="connect-div">
          <a href="https://www.linkedin.com/in/ianagpawa" target="_blank" class="letter">
            <i class="fa fa-linkedin-square fa-f"></i>
          </a>
        </div>

      <div class="connect-div">
        <a href="https://github.com/TheArtilect" target="_blank" class="letter">
          <i class="fa fa-github-square fa-f"></i>
        </a>
      </div>

      <div class="connect-div">
        <a href="http://www.freecodecamp.com/theartilect" target="_blank" class="letter">
          <i class="fa fa-fire fa-f"></i>
        </a>
      </div>

      <div class="connect-div">
        <a href="https://www.codewars.com/users/TheArtilect" target="_blank" class="letter">
          <i class="fa fa-empire fa-f" aria-hidden="true"></i>
        </a>
      </div>

      <div class="connect-div">
        <a href="http://codepen.io/TheArtilect" target="_blank" class="letter">
          <i class="fa fa-codepen fa-f"></i>
        </a>
      </div>

      <div class="connect-div">
        <a href="https://projecteuler.net/about" target="_blank" class="letter">
          <img id="euler" src="https://projecteuler.net/profile/TheArtilect.png">
        </a>
      </div>

      </div> <!-- col -->
    </div>  <!-- row -->

</footer>
