
 <center>
  <div class="project-all container-fluid">


    <div id="project-top" class="col-md-8 col-md-offset-2">
      <h1 id="projects-h1">My Projects</h1>
      <div>
        <h4 id="projects-h4">Here are a few of my personal projects</h4>
      </div>
    </div>

    <div id="project-bottom" class="col-md-8 col-md-offset-2">
      <div id="project-entries">

      </div>
     
    </div>

  </div>
</center>

