<div class="container-fluid about-div" id='resume-page'>
  <div class='about-top col-md-6 col-md-offset-3'>
    <div id="header" class="center-content clear-fix">
    <h1 id="about-h1">IAN AGPAWA</h1><br>
    <center><p id='resume-blurb' style="font-size: 20px;"></p></p></center><br>

    
    </div>
    


  </div>
  <!--about-top-->

  <div class="container about-bottom">
    <div class="about-me col-md-8 col-md-offset-2">
      <div>
        <br>
        <h4 class="about-me-h4 about-l">LANGUAGES AND FRAMEWORKS</h4>
        <p class="about-l" id="l-p"></p>
      </div>
      <br>
      <div>
        <h4 class="about-me-h4 about-s">SKILLS</h4>
        <p class="about-s" id="sk-p"></p>
      </div>
      <br>
      <div>
        <h4 class="about-me-h4 about-i">INTERESTS</h4>
        <p class="about-i" id="i-p"></p>
      </div>

    </div>

    <div class="col-md-8 col-md-offset-2">

      <br><center>
        <a name='experience'></a>
        <h2 class="about-h2">EXPERIENCE</h2></center>
      <div class="exp-entries"></div>

    </div>

    <div class="col-md-8 col-md-offset-2 bot-res">
      <a name="education"></a>
      <h2 class="about-h2">EDUCATION</h2>
      <div class="ed-entries"></div>
      
      <a name="courses"></a>
      <h2 class="about-h2 online">ONLINE COURSES</h2>
      <div class='ed-online'></div>
      
      <a name='projects'></a>
      <h2 class="about-h2">PROJECTS</h2>
      <div class='proj-res'></div>
    </div>
    
    


  </div>




</div>


