<div class="container-fluid about-div" id='resume-page'>
  <div class='about-top'>
    <h1 id="about-h1">Ian Agpawa</h1>
    <div class="about-me">

      <!--col-->


    </div>
    <!--about-me-->

  </div>
  <!--about-top-->

  <div class="container about-bottom">

    <div class="col-md-8 col-md-offset-2">
      <center>

        <h2 class="about-h2">WORK EXPERIENCE</h2></center>
      <div class="exp-entries"></div>

    </div>

    <div class="col-md-8 col-md-offset-2">
      <h2 class="about-h2">EDUCATION</h2>
      <div class="ed-entries"></div>

      <h2 class="about-h2 online">ONLINE COURSES</h2>
      <div class='ed-online'></div>
    </div>


  </div>


</div>