footer {
  display: block;
  background-color: red;
}

#h6-c-i{
  color: black;
}

.con-info{
  list-style-type: none;
  font-size: 12px;
  margin: 3px;
  color: black;
}


.letter {
  color: black;
}

.letter:hover{
  color: white;
}


#euler{
  width: 210px;
}