#footie {
  display: block;
  color: black;
  height: 100%;
  background-color: #000019;
  background-size: 100% 100%;
}



.connect-div {
  display: inline;
  color: white;
  font-size: 19px;
  text-align: left;
  font-weight: bold;
  margin-left: 4%;
}

.con-info {
  list-style-type: none;
  display: block;

}

.con-l{
  margin-left: 40px;
}

.c-div{
  margin-top: 9px;
}



#bot-d{
  margin-top: -30px;
}

#euler {
  height: 55px;
  width: 200px;
}



.foot-div{
  display: inline;
  margin-top: -8px;
}

.letter {
  color: white;
}

.letter:hover{
  color: #4C0000;
}

.fa-f {
  font-size: 32px;
}

#foot-p{
  font-size: 36px;
  float: left;
}

.foot-row {
  padding-top: 2vh;
}