footer {
  display: block;
  color: black;
  width: 100%;
  height: 180px;
  background-color: #000019;
}


#foot-p{
  color: white;
  font-size: 18px;
  text-align: left;
  margin-left: 17%;
  font-weight: bold;
  padding-top: 8px;
}

.con-info{
  list-style-type: none;
  font-size: 14px;
  color: white;
  margin: 0;
}

.foot-div{
  display: inline;
  margin-top: -8px;
}

.letter {
  color: white;
}

.letter:hover{
  color: #4C0000;
}


