

#project-mural{
  
}

.proj-row{
  
}

.new-proj{
  color: black;
  border: 1px solid black;
  height: 200px;
  
}

.proj-title{
  color: black;
}

.proj-des{
  
}

#test-proj{
  background-size: 100% 100%;
}