

#project-mural{
  padding: 0px;
}

.proj-row{

  
}

.new-proj{
  color: black;
  border: 1px solid white;
  height: 30vh;
  background-size: 100% 100%;
  background-color: black;
}


.proj-title{
  color: white;
  display: none;

}

.proj-des{
  color: white;
  display: none;

}



