<!DOCTYPE html>
<html>
<head>
  <title>Ian Agpawa's Personal Portfolio Webpage Project</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
    <nav class="navbar navbar-inverse navbar-fixed-top">
    <div class="container">
      <ul class="nav nav-pills">
        <li class="listing" role="presentation" style="float:left">
          <a href="#">
            <font>Ian Agpawa</font>
          </a>
        </li>
        <li class="listing" role="presentation" style="float:right">
          <a href="#lastpage">
            <font>Contact</font>
          </a>
        </li>
        <li class="listing" role="presentation" style="float:right">
          <a href="#thirdpage">
            <font>Portfolio</font>
          </a>
        </li>
        <li class="listing" role="presentation" style="float:right">
          <a href="#secondpage">
            <font>About</font>
          </a>
        </li>
        <li class="listing" role="presentation" style="float:right">
          <a href="#firstpage">
            <font>Home</font>
          </a>
        </li>
      </ul>
    </div>
  </nav>
<div id='body-div'>
<%= yield %>
</div>
</body>
</html>
